<ion-header>
  	<ion-toolbar>
    <!-- <ion-title>ListPage</ion-title> -->
	    <ion-grid>
	    	<ion-row>
	    		<ion-col size="2">
	    			<ion-icon name="chevron-back-outline"></ion-icon>
	    		</ion-col>
	    		<ion-col size="8">
	    			<h1 class="marg0">Fresh Vegetables</h1>
					<p class="marg0">66 products</p>
	    		</ion-col>
	    		<ion-col size="2">
	    			<ion-icon name="search-outline"></ion-icon>
	    		</ion-col>
	    	</ion-row>
	    </ion-grid>
  	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-grid>
		<ion-row>
			<ion-col size="6">
				<p>Filter By</p>
			</ion-col>
			<ion-col size="6">
				<button>Category</button>
			</ion-col>
		</ion-row>
	</ion-grid>	
	<ion-grid>
		<ion-row>
			<ion-col size="6">
				<ion-row>
					<ion-col size="4">
						<img src="img/list_icon1.jpg" width="75%">
					</ion-col>
					<ion-col size="8">
						<h1 class="fs8">Newly Launched</h1>
					</ion-col>
				</ion-row>
			</ion-col>
			<ion-col size="6">
				<ion-row>
					<ion-col size="4">
						<img src="img/list_icon1.jpg" width="75%">
					</ion-col>
					<ion-col size="8">
						<h1 class="fs8">Newly Launched</h1>
					</ion-col>
				</ion-row>
			</ion-col>
		</ion-row>
	</ion-grid>
	<ion-grid>
		<ion-row>
			<ion-col>
				<h1>Keep yourself hydrated!</h1>
				<img src="./assets/img/banner6.jpg" width="100%" class="br_radius5">
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<h1>Newly Launched</h1>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col size="4">
				<img src="./assets/img/tamarind.jpg" width="75%">
			</ion-col>
			<ion-col size="8">
				<h1 class="fs12">Tamarind Sweet (225gm)</h1>
				<h1 class="fs10"><i class="fa fa-inr" aria-hidden="true"></i>139.00 <del class="fc3"><i class="fa fa-inr" aria-hidden="true"></i> 159.00</del></h1>
				<button class="List_add_btn">ADD</button>
				<h1 class="fc2 fs10">Delivery on wed 30 Jun</h1>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col size="4">
				<img src="./assets/img/tamarind.jpg" width="75%">
			</ion-col>
			<ion-col size="8">
				<h1 class="fs12">Tamarind Sweet (225gm)</h1>
				<h1 class="fs10"><i class="fa fa-inr" aria-hidden="true"></i>139.00 <del class="fc3"><i class="fa fa-inr" aria-hidden="true"></i> 159.00</del></h1>
				<button class="List_add_btn">ADD</button>
				<h1 class="fc2 fs10">Delivery on wed 30 Jun</h1>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<h1>Vegetables</h1>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col size="4">
				<img src="./assets/img/tamarind.jpg" width="75%">
			</ion-col>
			<ion-col size="8">
				<h1 class="fs12">Tamarind Sweet (225gm)</h1>
				<h1 class="fs10"><i class="fa fa-inr" aria-hidden="true"></i>139.00 <del class="fc3"><i class="fa fa-inr" aria-hidden="true"></i> 159.00</del></h1>
				<button class="List_add_btn">ADD</button>
				<h1 class="fc2 fs10">Delivery on wed 30 Jun</h1>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col size="4">
				<img src="./assets/img/tamarind.jpg" width="75%">
			</ion-col>
			<ion-col size="8">
				<h1 class="fs12">Tamarind Sweet (225gm)</h1>
				<h1 class="fs10"><i class="fa fa-inr" aria-hidden="true"></i>139.00 <del class="fc3"><i class="fa fa-inr" aria-hidden="true"></i> 159.00</del></h1>
				<button class="List_add_btn">ADD</button>
				<h1 class="fc2 fs10">Delivery on wed 30 Jun</h1>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
