<ion-header [translucent]="true" class="bg1">
  	<ion-toolbar class="fc1 bg1">
	    <ion-grid class=" bg1">
	    	<ion-row>
	    		<ion-col size="1" routerLink="/" class="ion-align-self-center fs14 fb">
                    <ion-icon name="chevron-back-outline"></ion-icon>
                </ion-col>
	    		<ion-col size="10">
	    			<h1 class="fs10 fb marg0">Login</h1>
	    		</ion-col>
	    	</ion-row>
	    </ion-grid>
  	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-grid class="bg1 ion-text-center">
		<ion-row class="marg_t10">
			<ion-col>
				<ion-icon name="person-outline" class="fc1 fs50 br_radius50 padd20 bg4"></ion-icon>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<p class="fs14 fc1">Welcome to TrueHealthy!</p>
			</ion-col>
		</ion-row>
	</ion-grid>
	<ion-grid>
		<ion-row>
			<ion-col>
				<form action="/action_page.php">
				  	<label class="fs10 dis_blk marg_t10"> <ion-icon name="accessibility-outline" class="fc2"></ion-icon> Mobile Number:</label><br>
				  	<input type="text" id="username" name="username" class="log_inp"><br>
				  	<label class="fs10 dis_blk marg_t10"> <ion-icon name="accessibility-outline" class="fc2"></ion-icon> Password:</label><br>
				  	<input type="password" id="pwd" name="pwd" class="log_inp"><br><br>
				  	<input type="submit" value="Submit" class="log_btn">
				</form>			
			</ion-col>
		</ion-row>
	</ion-grid>
	
</ion-content>
