<ion-header>
  	<ion-toolbar>
    <!-- <ion-title>ListPage</ion-title> -->
	    <ion-grid>
	    	<ion-row>
	    		<ion-col size="2" routerLink="/">
	    			<ion-icon name="chevron-back-outline"></ion-icon>
	    		</ion-col>
	    		<ion-col size="8">
	    			<h1 class="marg0">Apple (1Kg)</h1>
					<p class="marg0">66 products</p>
	    		</ion-col>
	    		<ion-col size="2">
	    			<ion-icon name="search-outline"></ion-icon>
	    		</ion-col>
	    	</ion-row>
	    </ion-grid>
  	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-grid>
		<ion-row>
			<ion-col>
				<img src="./assets/img/apple500X500.jpg" width="75%" />
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<h1 class="marg0">Appple (1 KG)</h1>
				<h1><i class="fa fa-inr" aria-hidden="true"></i>139.00 <del class="fs10 fc3"><i class="fa fa-inr" aria-hidden="true"></i> 159.00</del> </h1>
				<h1 class="fc2">Delivery on wed 30 Jun</h1>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<h1 class="br_btm_1">Product Information</h1>
				<p>Lorem ipsum dolor smit. Lorem ipsum dolor smit. Lorem ipsum dolor smit. Lorem ipsum dolor smit. Lorem ipsum dolor smit.</p>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<h1 class="br_btm_1">Disclaimer</h1>
				<p>Lorem ipsum dolor smit. Lorem ipsum dolor smit. Lorem ipsum dolor smit. Lorem ipsum dolor smit. Lorem ipsum dolor smit. Lorem ipsum dolor smit. Lorem ipsum dolor smit. Lorem ipsum dolor smit. Lorem ipsum dolor smit. Lorem ipsum dolor smit. Lorem ipsum dolor smit.</p>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
