<ion-header>
  	<ion-toolbar>
    <!-- <ion-title>ListPage</ion-title> -->
	    <ion-grid>
	    	<ion-row>
	    		<ion-col size="2" routerLink="/">
	    			<ion-icon name="chevron-back-outline"></ion-icon>
	    		</ion-col>
	    		<ion-col size="10">
	    			<h1 class="marg0">Cart (1 Item)</h1>
	    		</ion-col>
	    	</ion-row>
	    </ion-grid>
  	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-gri>
		<ion-row>
			<ion-col>
				<p>Add <i class="fa fa-inr" aria-hidden="true"></i> 60 more and get</p>
				<p>a <span class="fc2 fb">FREE</span> item</p>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<img src="./assets/img/banner.jpg" width="100%" height="150px" class="br_radius5">
			</ion-col>
		</ion-row>
	</ion-gri>
	<ion-grid>
		<ion-row>
			<ion-col size="2">
				<h1>30</h1>
				<p>Jun</p>
			</ion-col>
			<ion-col size="10">
				<h1>Tomorrow</h1>
				<p>Nothing scheduled on this day yet</p>
			</ion-col>
		</ion-row>
	</ion-grid>
	<ion-grid>
		<ion-row>
			<ion-col size="5">
				<p>Scedule for a future date</p>
			</ion-col>
			<ion-col size="7">
				<p class="fc2">CHANGE DATE <i class="fa fa-angle-right" aria-hidden="true"></i></p>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col size="2">
				<img src="./assets/img/apple500X500.jpg" width="100%" />
			</ion-col>
			<ion-col size="7">
				<h1>Apple </h1>
				<p>1 Pkt</p>
				<h1><i class="fa fa-inr" aria-hidden="true"></i>139.00 <del class="fs10 fc3"><i class="fa fa-inr" aria-hidden="true"></i> 159.00</del> </h1>
			</ion-col>
		</ion-row>
	</ion-grid>
	<ion-grid>
    <ion-row>
      <ion-col size="6">
        <h1 class="marg0">Best sellers</h1>
      </ion-col>
      <ion-col size="6">
        <a href="" class="fc2">See all </a>
      </ion-col>
    </ion-row>
  </ion-grid>
	<ion-grid>
    	<ion-row>
      		<ion-col>
        		<div class="scroll_bar1">
          			<ul>
            			<li> 
              				<img src="./assets/img/milk1.jpg" width="75%" class="br_radius50" />
              				<p>Heritage - Toned Milk (500ml)</p>
              				<p class="marg0"><i class="fa fa-inr" aria-hidden="true"></i> 75.00</p>
              				<button class="add_btn">ADD</button>
            			</li>
            		<li> 
              <img src="./assets/img/milk2.jpg" width="75%" class="br_radius50" />
              <p>Amul - Gold Milk (500ml)</p>
              <p class="marg0"><i class="fa fa-inr" aria-hidden="true"></i> 75.00</p>
              <button class="add_btn">ADD</button>
            </li>
            <li> 
              <img src="./assets/img/milk3.jpg" width="75%" class="br_radius50" />
              <p>dfdsf</p>
              <p class="marg0"><i class="fa fa-inr" aria-hidden="true"></i> 75.00</p>
              <button class="add_btn">ADD</button>
            </li>
            <li> 
              <img src="./assets/img/milk1.jpg" width="75%" class="br_radius50" />
              <p>dfdsf</p>
              <p class="marg0"><i class="fa fa-inr" aria-hidden="true"></i> 75.00</p>
              <button class="add_btn">ADD</button>
            </li>
            <li> 
              <img src="./assets/img/milk2.jpg" width="75%" class="br_radius50" />
              <p>dfdsf</p>
              <p class="marg0"><i class="fa fa-inr" aria-hidden="true"></i> 75.00</p>
              <button class="add_btn">ADD</button>
            </li>
            			<li> 
              				<img src="./assets/img/milk3.jpg" width="75%" class="br_radius50" />
              				<p>dfdsf</p>
              				<p class="marg0"><i class="fa fa-inr" aria-hidden="true"></i> 75.00</p>
              				<button class="add_btn">ADD</button>
            			</li>
          			</ul>
        		</div>
      		</ion-col>
    	</ion-row>
  	</ion-grid>
	<ion-grid>
  		<ion-row>
  			<ion-col size="1">
  				<p><i class="fa fa-money" aria-hidden="true"></i></p>
  			</ion-col>
  			<ion-col size="11">
  				<h1>Payment</h1>
				<p>Review payment details before placing your order</p>
  			</ion-col>
  		</ion-row>
  	</ion-grid>
  	<ion-grid>
  		<ion-row>
  			<ion-col size="5">
  				<p>Cart amount</p>
				<p>Service fee</p>
				<p>Total amount</p>
  			</ion-col>
  			<ion-col size="7">
  				<p><i class="fa fa-inr" aria-hidden="true"></i> 139.00</p>
				<p><del class="fs10 fc3"><i class="fa fa-inr" aria-hidden="true"></i> 59.00</del></p>
				<p><i class="fa fa-inr" aria-hidden="true"></i>139.00</p>
  			</ion-col>
  		</ion-row>
  	</ion-grid>
  	<ion-grid>
  		<ion-row>
  			<ion-col size="5">
  				<p>Amount to pay</p>
  			</ion-col>
  			<ion-col size="7">
  				<p><i class="fa fa-inr" aria-hidden="true"></i> 139.00</p>
  			</ion-col>
  		</ion-row>
  	</ion-grid>
</ion-content>
