<ion-header [translucent]="true" class="bg1">
  	<ion-toolbar class="fc1 bg1">
	    <ion-grid class=" bg1">
	    	<ion-row>
	    		<ion-col size="1" routerLink="/" class="ion-align-self-center fs14 fb">
                    <ion-icon name="chevron-back-outline"></ion-icon>
                </ion-col>
	    		<ion-col size="10">
	    			<h1 class="fs10 fb marg0">My Subscription List</h1>
	    		</ion-col>
	    	</ion-row>
	    </ion-grid>
  	</ion-toolbar>
</ion-header>

<ion-content class="bg4">
	<ion-grid class="bg2">
		<ion-row>
			<ion-col size="2" class="ion-text-center">
				<p class="marg0 fs8 padd_b5">MON</p>
				<p class="marg0 fs8">12</p>
			</ion-col>
			<ion-col size="2" class="ion-text-center bg1 fc1">
				<p class="marg0 fs8 padd_b5">TUE</p>
				<p class="marg0 fs8">13</p>
			</ion-col>
			<ion-col size="2" class="ion-text-center">
				<p class="marg0 fs8 padd_b5">WED</p>
				<p class="marg0 fs8">14</p>
			</ion-col>
			<ion-col size="2" class="ion-text-center">
				<p class="marg0 fs8 padd_b5">THU</p>
				<p class="marg0 fs8">15</p>
			</ion-col>
			<ion-col size="2" class="ion-text-center">
				<p class="marg0 fs8 padd_b5">FRI</p>
				<p class="marg0 fs8">16</p>
			</ion-col>
			<ion-col size="2" class="ion-text-center">
				<p class="marg0 fs8 padd_b5">SAT</p>
				<p class="marg0 fs8">17</p>
			</ion-col>
		</ion-row>
	</ion-grid>
	<ion-grid>
		<ion-row>
			<ion-grid class="br_radius5 br_1 padd0 bg2">
				<ion-row>
					<ion-col class="br_btm_1">
						<p class="fs10 marg0">Subscription : <span class="fb fs10">Daily</span></p>
					</ion-col>
				</ion-row>
				<ion-row class="br_btm_1">
					<ion-col size="3" class="ion-align-self-center">
						<img src="./assets/img/list_icon2.jpg" width="75%">
					</ion-col>
					<ion-col size="9">
						<p class="fs8 fc3 marg0 padd_t3">Sid Farm</p>
						<p class="fs10 fb marg0 padd_t3">Natural Buffalo Milk</p>
						<p class="fs10 fc3 marg0 padd_t3">500 ml</p>
						<p class="fs10 fc3 marg0 padd_t3">Qty : 2</p>
						<p class="fs10 fc3 marg0 padd_t3 padd_b5">MRP : <span class="fb"><i class="fa fa-inr" aria-hidden="true"></i> 45</span></p>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col size="6">
					</ion-col>
					<ion-col size="3" class="fc2">
						<button class="fs10 bg2"><ion-icon name="trash-outline"></ion-icon> Delete</button>
					</ion-col>
					<ion-col size="3" class="bg1">
						<button class="fs10 bg1 fc1"><ion-icon name="play-outline"></ion-icon> Resume</button>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-row>
	</ion-grid>
	<ion-grid>
		<ion-row>
			<ion-grid class="br_radius5 br_1 padd0 bg2">
				<ion-row>
					<ion-col class="br_btm_1">
						<p class="fs10 marg0">Subscription : <span class="fb fs10">Daily</span></p>
					</ion-col>
				</ion-row>
				<ion-row class="br_btm_1">
					<ion-col size="3" class="ion-align-self-center">
						<img src="./assets/img/list_icon2.jpg" width="75%">
					</ion-col>
					<ion-col size="9">
						<p class="fs8 fc3 marg0 padd_t3">Sid Farm</p>
						<p class="fs10 fb marg0 padd_t3">Natural Buffalo Milk</p>
						<p class="fs10 fc3 marg0 padd_t3">500 ml</p>
						<p class="fs10 fc3 marg0 padd_t3">Qty : 2</p>
						<p class="fs10 fc3 marg0 padd_t3 padd_b5">MRP : <span class="fb"><i class="fa fa-inr" aria-hidden="true"></i> 45</span></p>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col size="6">
					</ion-col>
					<ion-col size="3" class="fc2">
						<button class="fs10 bg2"><ion-icon name="trash-outline"></ion-icon> Delete</button>
					</ion-col>
					<ion-col size="3" class="bg1">
						<button class="fs10 bg1 fc1"><ion-icon name="play-outline"></ion-icon> Resume</button>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-row>
	</ion-grid>


	<ion-grid>
		<ion-row>
			<ion-grid class="br_radius5 br_1 padd0 bg2">
				<ion-row>
					<ion-col size="6" class="br_btm_1">
						<p class="fs10 marg0 fb">Today's order</p>
					</ion-col>
					<ion-col size="6" class="br_btm_1 ion-text-right">
						<p class="fs10 marg0">Delivered</p>
					</ion-col>
				</ion-row>
				<ion-row class="">
					<ion-col size="3" class="ion-align-self-center">
						<img src="./assets/img/list_icon2.jpg" width="75%">
					</ion-col>
					<ion-col size="9">
						<p class="fs8 fc3 marg0 padd_t3">Sid Farm</p>
						<p class="fs10 fb marg0 padd_t3">Natural Buffalo Milk</p>
						<p class="fs10 fc3 marg0 padd_t3">500 ml</p>
						<p class="fs10 fc3 marg0 padd_t3">Qty : 2</p>
						<p class="fs10 fc3 marg0 fb padd_t3 padd_b5"><i class="fa fa-inr" aria-hidden="true"></i> 45</p>
					</ion-col>
				</ion-row>
				<ion-grid>
					<ion-row class="bg4">
						<ion-col size="6">
							<p class="marg0 fs8 fc3 padd_b5">Sub Total</p>
							<p class="marg0 fs8 fc3 padd_b5">Service Charge</p>
							<p class="marg0 fs8 fc3 padd_b5">Savings</p>
						</ion-col>
						<ion-col size="6" class="fc2 ion-text-right">
							<p class="marg0 fs8 fc3 padd_b5"><i class="fa fa-inr" aria-hidden="true"></i> 90</p>
							<p class="marg0 fs8 fc3 padd_b5"><i class="fa fa-inr" aria-hidden="true"></i> 2</p>
							<p class="marg0 fs8 fc3 padd_b5"><i class="fa fa-inr" aria-hidden="true"></i> 0</p>
						</ion-col>
					</ion-row>
				</ion-grid>
				<ion-grid>
					<ion-row>
						<ion-col size="6">
							<p class="marg0 fs10 padd_b5">Total</p>
						</ion-col>
						<ion-col size="6" class="fc2 ion-text-right">
							<p class="marg0 fs10 padd_b5"><i class="fa fa-inr" aria-hidden="true"></i> 90</p>
						</ion-col>
					</ion-row>
				</ion-grid>
			</ion-grid>
		</ion-row>
	</ion-grid>
</ion-content>
