<ion-header class="br_btm_1">
  	<ion-toolbar>
  		<ion-grid>
	    	<ion-row>
	    		<ion-col size="1" routerLink="/" class="ion-align-self-center fs14 fb" >
	    			<ion-icon name="chevron-back-outline"></ion-icon>
	    		</ion-col>
	    		<ion-col size="11">
	    			<h1 class="marg0 fs10 fb">Create subscription</h1>
	    		</ion-col>
	    	</ion-row>
	    </ion-grid>
  	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-grid class="bg4">
		<ion-row>
			<ion-col size="4" class="ion-text-center">
				<img src="./assets/img/milk1.jpg" width="75%" alt="MILK" class="br_radius50"/>
			</ion-col>
			<ion-col size="8" class="ion-align-self-center">
				<h1 class="marg0 fs14">Absolute Milk - Full Cream Buffalo pkt ( 500 ml )</h1>
				<h1 class="fs10"> <i class="fa fa-inr" aria-hidden="true"></i> 50</h1>
			</ion-col>
		</ion-row>
	</ion-grid>
	<ion-grid class="br_btm_1 padd10">
		<ion-row>
			<ion-col size="1" class="ion-align-self-center">
				<ion-icon name="help-outline"></ion-icon>
			</ion-col>
			<ion-col size="8">
				<p class="fs8 marg0 fb">Quantity</p>
				<p class="fs8 marg0 padd_t5 fb">Per day</p>
			</ion-col>
			<ion-col size="3" class="ion-align-self-center">
				<ion-row class="br_2 br_radius15">
                    <ion-col size="3" class="ion-align-self-center ion-text-center fs18 fc2 ion-no-padding">
                        -
                    </ion-col>
                    <ion-col size="6">
                        <input type="number" value="1" class="add_item ion-text-center">
                    </ion-col>
                    <ion-col size="3" class="ion-align-self-center fs18 fc2 ion-no-padding">
                        +
                    </ion-col>
                </ion-row>
			</ion-col>
		</ion-row>
	</ion-grid>
	<ion-grid class="br_btm_1 padd10">
		<ion-row>
			<ion-col size="1" class="ion-text-center">
				<ion-icon name="help-outline"></ion-icon>
			</ion-col>
			<ion-col size="10">
				<p class="fs8 marg0 fb">Repeat <span class="fs10 fc2">WEEKDAYS</span> </p>
				<ul class="dates_repeat">
					<li>M</li>
					<li>T</li>
					<li>W</li>
					<li>T</li>
					<li>F</li>
					<li>S</li>
					<li>S</li>
				</ul>
			</ion-col>
			<ion-col size="1" class="ion-align-self-center">
				<ion-icon name="chevron-forward-outline"></ion-icon>
			</ion-col>
		</ion-row>
	</ion-grid>
	<ion-grid class="br_btm_1 padd10">
		<ion-row>
			<ion-col size="1">
				<ion-icon name="help-outline"></ion-icon>
			</ion-col>
			<ion-col size="10">
				<p class="fs8 marg0 fb">Recharge / Top up</p>
				<p class="fs10 marg0 padd_t5 fb">15 Deliveries</p>
			</ion-col>
			<ion-col size="1" class="ion-align-self-center">
				<ion-icon name="chevron-forward-outline"></ion-icon>
			</ion-col>
		</ion-row>
	</ion-grid>
	<ion-grid class="br_btm_1 padd10">
		<ion-row>
			<ion-col size="1">
				<ion-icon name="calendar-clear-outline"></ion-icon>
			</ion-col>
			<ion-col size="10">
				<p class="fs8 marg0 fb">Start date</p>
				<p class="fs10 marg0 padd_t5 fb">Tomorrow</p>
			</ion-col>
			<ion-col size="1" class="ion-align-self-center">
				<ion-icon name="chevron-forward-outline"></ion-icon>
			</ion-col>
		</ion-row>
	</ion-grid>
	<ion-grid class="single_proceed bg2 bx_1"> 
        <ion-row>
            <ion-col size="5">
                <button class="bg2 fc2 br_2 padd10 br_radius5 fs10 w100">DELIVERY ONCE</button>
            </ion-col>
            <ion-col size="7" class="ion-text-right">
                <button class="bg1 fc1 padd10 br_radius5 fs10 w100">SUBSCRIBE</button>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid>
    	<ion-row>
    		<ion-col>
    			<p class="marg0 fs10 fc2">Get Your groceries on</p>
    			<p class="marg0 fs10 fc2 padd_t5">auto-pilot with subscriptions</p>
    		</ion-col>
    	</ion-row>
    	<ion-row>
    		<ion-col size="1">
    			<ion-icon name="settings-outline"></ion-icon>
    		</ion-col>
    		<ion-col size="11">
    			<p class="marg0 fs8 fc3">Cancel any time</p>
    			<p class="marg0 fs8 fc3 padd_t5">Cancel any time andget your money back</p>
    		</ion-col>
    	</ion-row>
    	<ion-row>
    		<ion-col size="1">
    			<ion-icon name="settings-outline"></ion-icon>
    		</ion-col>
    		<ion-col size="11">
    			<p class="marg0 fs8 fc3">Set vacation days easily</p>
    			<p class="marg0 fs8 fc3 padd_t5">Going on vacation? Set flexible vacation days.</p>
    		</ion-col>
    	</ion-row>
    </ion-grid>
</ion-content>
