/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

*{
	/*font-family: cursive;*/
	/*font-family: 'Manrope', sans-serif;*/
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
}

/*Font Size*/
.fs8{
	font-size: 8px !important;
}
.fs10{
	font-size: 10px !important;
}
.fs12{
	font-size: 12px !important;
}
.fs14{
	font-size: 14px !important;
}
.fs18{
	font-size: 18px !important;
}
.fs22{
	font-size: 22px !important;
}
.fs50{
	font-size: 50px !important;
}

/*Font Weight*/
.fb{
	font-weight: bold !important;
}

/*font-color*/

.fc1{
	color: #ffffff !important;
}
.fc2{
	color: #00b4a9;
}
.fc3{
	color: #999999;
}

.bg1{
	background-color: #00b4a9;
}
.bg2{
	background-color: #ffffff !important;
}
.bg3{
	background-color: #fcf8dd;
}
.bg4{
	background-color: #d7f1ef !important;
}


/*margin*/
.marg_auto{
	margin: auto;
}
.marg0{
	margin: 0px;
}
.marg_b100{
	margin-bottom: 100px;
}
.marg_t100{
	margin-top: 100px;
}
.marg5{
	margin: 5px;
}
.marg_t5{
	margin-top: 5px;
}
.marg_t10{
	margin-top: 10px;
}
.marg_t0{
	margin-top: 0px;
}
.marg_r10{
	margin-right: 10px;
}
.marg_b5{
	margin-bottom: 5px;
}

/*Padding*/
.padd0{
	padding: 0px !important;
}
.padd3{
	padding: 3px;
}
.padd5{
	padding: 5px;
}
.padd10{
	padding: 10px;
}
.padd20{
	padding: 20px;
}
.padd_t3{
	padding-top: 3px;
}
.padd_t5{
	padding-top: 5px;
}
.padd_l5{
	padding-left: 5px;
}
.padd1010{
	padding: 0px 10px;
}
.padd2020{
	padding: 0px 20px;
}
.padd_l10{
	padding-left: 10px;
}
.padd_r10{
	padding-right: 10px;
}
.padd_b5{
	padding-bottom: 5px;
}

/*Radius*/
.br_radius3{
	border-radius: 3px;
}
.br_radius5{
	border-radius: 5px;
}
.br_radius15{
	border-radius: 15px;
}
.br_radius50{
	border-radius: 50%;
}

.box_shadow1{
	box-shadow: 1px 1px 5px #dcdcdc
}
.bx_1{
	box-shadow: 0px 0px 5px #dcdcdc;
}
.bx_2{
	box-shadow: 0px 0px 5px #dcdcdc;
}

/*POSITONS*/
/*Positions*/
.pos_rel{
	position: relative;
}
.pos_ab{
	position: absolute;
}
.pos_t0{
	top: 0px;
}

/*BORDER*/
.br_1{
	border: 1px solid #dcdcdc;
}
.br_2{
	border: 1px solid #00b4a9;
}
.br_3{
	border: 1px solid #f1f1f1;
}
.br_btm_1{
	border-bottom: 1px solid #dcdcdc;
}
.br_top_1{
	border-top: 1px solid #dcdcdc;
}

/*WIDTH*/
.w100{
	width: 100%;
}
.dis_blk{
	display: block;
}

.add_money{
	border: 1px solid #ffffff;
	border-radius: 15px;
    color: #fff;
    background-color: #00b4a9;
    padding: 8px;
    font-size: 9px;
}

/*HOME PAGE CSS START*/
.scroll_bar ul{
	overflow: scroll;
	white-space: nowrap;
	padding-left: 0px;
	margin: 0px;
}
.scroll_bar ul li{
	display: inline-grid;
	padding: 10px;
	width: 27%;
	text-align: center;
}
.scroll_bar ul li p{
	white-space: pre-wrap;	
}
.banner_slider{
	overflow: scroll;
	white-space: nowrap;
}
.add_btn{
    background-color: #00b4a9;
    border: none;
    padding: 5px;
    color: #ffffff;
    border-radius: 25px;
    margin-top: 5px;
}
.home_search{
	border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: #ffffff;
}
.scroll_bar1 ul{
	overflow: scroll;
	white-space: nowrap;
	padding-left: 0px;
	margin: 0px;
}
.scroll_bar1 ul li{
	display: inline-grid;
	padding: 10px;
	width: 40%;
	text-align: center;
}
.scroll_bar1 ul li p{
	white-space: pre-wrap;	
}
.header-translucent-ios ion-toolbar {
    --opacity: -0;
}
.button-inner{
	justify-content: flex-start !important;
}
/*HOME PAGE CSS END*/

/*LIST PAGE CSS START*/
.filter_btn{
	padding: 5px 10px;
    border-radius: 10px;
    border: none;
    background-color: #5e5e5e;
    color: #ffffff;
}
.List_add_btn{
	border:1px solid  #00b4a9;
    padding: 5px;
    color: #00b4a9;
    border-radius: 25px;
    margin-top: 5px;
    width: 26%;
    background-color: #ffffff;
}
.header-ios ion-toolbar:last-of-type {
    --border-width: 0px;
}
/*LIST PAGE CSS END*/
/*SEARCH PAGE CSS START*/
.main_search{
	border: none;
    height: 30px;
    width: 100%;
}
.search_list ul{
	padding: 0px;
}
.search_list ul li{
	display: inline-grid;
	padding: 5px 10px;
    background-color: #dcdcdc;
    border-radius: 15px;
    margin: 10px;
    font-size: 10px;
}
.cat_info{
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #dcdcdc;
    background-color: #ffffff;
}
/*SEARCH PAGE CSS END*/

/*CART PAGE CSS START*/

.delivery_icon{
    display: inline-block;
    border: 1px solid #00b4a9;
    padding: 0px 10px 10px 10px;
    border-radius: 20px;
    margin-left: -10px;
    box-shadow: 1px 1px 1px #dcdcdc;
}
.add_item{
	width: 100%;
	padding: 0px;
	border: none;
}

/*CART PAGE CSS END*/

/*SINGLE PAGE CSS START*/
.single_proceed{
	position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
}
/*SINGLE PAGE CSS END*/
/*SUBSCRIPTIONS PAGE CSS START*/
.dates_repeat{
	padding: 0px;
}
.dates_repeat li{
	display: inline-block;
    background-color: #d7f1ef;
    padding: 6px 9px 5px 8px;
    border-radius: 19px;
    width: 9%;
    height: 25px;
    text-align: center;
    font-size: 10px;
    margin: 5px;
}
/*SUBSCRIPTION PAGE CSS END*/

.log_inp{
	width: 100%;
    box-shadow: none;
    padding: 5px;
    height: 35px;
    border-radius: 5px;
    color: #00b4a9;
    border: 1px solid #dcdcdc;
    font-size: 10px;
}
.log_btn{
	width: 100%;
	color: #ffffff;
	background-color: #00b4a9;
	padding: 10px;
    border: none;
    border-radius: 5px;
}
.add_address{
    width: 100%;
    background-color: #00b4a9;
    color: #ffffff;
    padding: 10px;
    font-size: 10px;
    border-radius: 5px;
}