<ion-header>
  	<ion-toolbar>
	    <ion-grid>
	    	<ion-row>
	    		<ion-col size="1" routerLink="/" class="ion-align-self-center fs14 fb">
	    			<ion-icon name="chevron-back-outline"></ion-icon>
	    		</ion-col>
	    		<ion-col size="10">
	    			<input type="search" name="" placeholder="Fruits, Bread, Atta & 1000+ items" class="main_search fs10" />
	    		</ion-col>
	    		<ion-col size="1" class="ion-align-self-center fs14 fb">
	    			<ion-icon name="search-outline"></ion-icon>
	    		</ion-col>
	    	</ion-row>
	    </ion-grid>
  	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-grid>
		<ion-row>
			<ion-col>
				<div class="search_list padd1010">
					<h1 class="fc3 fs12 fb ion-no-margin">Popular Searches</h1>
					<ul>
						<li> 
							Milk
						</li>
						<li> 
							Bread
						</li>
						<li> 
							Daily Needs
						</li>
						<li> 
							Curd
						</li>
						<li> 
							Egg
						</li>
						<li> 
							Fresh Vegetables
						</li>
						<li> 
							Oils
						</li>
					</ul>
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>
	<ion-grid class="ion-no-padding">
		<ion-row>
			<ion-col>
				<div class="pos_rel">
					<div class="h100">
						<img src="./assets/img/bg_img.jpg" width="100%">
					</div>
					<div class="padd10 pos_ab pos_t0">
						<div class="padd10 cat_info">
							<h5 class="ion-no-margin fs10 fb">Milk</h5>
							<p class="fs10">Lorem ipsum dolor smit. Lorem ipsum dolor smit. Lorem ipsum dolor smit. Lorem ipsum dolor smit</p>
						</div>
					</div>	
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>
	<ion-grid>
		<ion-row>
			<ion-col>
				<div class="scroll_bar padd1010">
					<h1 class="fs12 fb">Milk</h1>
					<ul>
						<li> 
							<img src="./assets/img/serch_sub_cat1.jpg" width="100%" class="br_radius50" />
							<p class="fs10 marg0 padd_t5">View All</p>
						</li>
						<li> 
							<img src="./assets/img/serch_sub_cat2.jpg" width="100%" class="br_radius50" />
							<p class="fs10 marg0 padd_t5">Milk</p>
						</li>
						<li> 
							<img src="./assets/img/serch_sub_cat3.jpg" width="100%" class="br_radius50" />
							<p class="fs10 marg0 padd_t5">Full Cream Milk</p>
						</li>
						<li> 
							<img src="./assets/img/serch_sub_cat4.jpg" width="100%" class="br_radius50" />
							<p class="fs10 marg0 padd_t5">toned Milk</p>
						</li>
						<li> 
							<img src="./assets/img/serch_sub_cat2.jpg" width="100%" class="br_radius50" />
							<p class="fs10 marg0 padd_t5">Milk</p>
						</li>
						<li> 
							<img src="./assets/img/serch_sub_cat3.jpg" width="100%" class="br_radius50" />
							<p class="fs10 marg0 padd_t5">Full Cream Milk</p>
						</li>
					</ul>
				</div>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<div class="scroll_bar padd1010">
					<h1 class="fs12 fb ion-no-margin">Dairy Products</h1>
					<ul>
						<li> 
							<img src="./assets/img/serch_sub_cat5.jpg" width="100%" class="br_radius50" />
							<p class="fs10 marg0 padd_t5">View All</p>
						</li>
						<li> 
							<img src="./assets/img/serch_sub_cat6.jpg" width="100%" class="br_radius50" />
							<p class="fs10 marg0 padd_t5">Paneer</p>
						</li>
						<li> 
							<img src="./assets/img/serch_sub_cat7.jpg" width="100%" class="br_radius50" />
							<p class="fs10 marg0 padd_t5">Tofu</p>
						</li>
						<li> 
							<img src="./assets/img/serch_sub_cat8.jpg" width="100%" class="br_radius50" />
							<p class="fs10 marg0 padd_t5">Yogurt</p>
						</li>
						<li> 
							<img src="./assets/img/serch_sub_cat6.jpg" width="100%" class="br_radius50" />
							<p class="fs10 marg0 padd_t5">Paneer</p>
						</li>
						<li> 
							<img src="./assets/img/serch_sub_cat7.jpg" width="100%" class="br_radius50" />
							<p class="fs10 marg0 padd_t5">Tofu</p>
						</li>
					</ul>
				</div>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<div class="scroll_bar padd1010">
					<h1 class="fs12 fb ion-no-margin">Fresh Fruits</h1>
					<ul>
						<li> 
							<img src="./assets/img/serch_sub_cat9.jpg" width="100%" class="br_radius50" />
							<p class="fs10 marg0 padd_t5">View All</p>
						</li>
						<li> 
							<img src="./assets/img/serch_sub_cat10.jpg" width="100%" class="br_radius50" />
							<p class="fs10 marg0 padd_t5">Exotic Fruits</p>
						</li>
						<li> 
							<img src="./assets/img/serch_sub_cat11.jpg" width="100%" class="br_radius50" />
							<p class="fs10 marg0 padd_t5">Fruits</p>
						</li>
					</ul>
				</div>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<div class="scroll_bar padd1010">
					<h1 class="fs12 fb ion-no-margin">Fresh Vegetables</h1>
					<ul>
						<li> 
							<img src="./assets/img/serch_sub_cat12.jpg" width="100%" class="br_radius50" />
							<p class="fs10 marg0 padd_t5">View All</p>
						</li>
						<li> 
							<img src="./assets/img/serch_sub_cat13.jpg" width="100%" class="br_radius50" />
							<p class="fs10 marg0 padd_t5">Vegetables</p>
						</li>
						<li> 
							<img src="./assets/img/serch_sub_cat14.jpg" width="100%" class="br_radius50" />
							<p class="fs10 marg0 padd_t5">Leafy Veggies</p>
						</li>
						<li> 
							<img src="./assets/img/serch_sub_cat15.jpg" width="100%" class="br_radius50" />
							<p class="fs10 marg0 padd_t5">Sprouts & Salad</p>
						</li>
						<li> 
							<img src="./assets/img/serch_sub_cat13.jpg" width="100%" class="br_radius50" />
							<p class="fs10 marg0 padd_t5">Vegetables</p>
						</li>
						<li> 
							<img src="./assets/img/serch_sub_cat14.jpg" width="100%" class="br_radius50" />
							<p class="fs10 marg0 padd_t5">Leafy Veggies</p>
						</li>
						<li> 
							<img src="./assets/img/serch_sub_cat15.jpg" width="100%" class="br_radius50" />
							<p class="fs10 marg0 padd_t5">Sprouts & Salad</p>
						</li>
					</ul>
				</div>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<div class="scroll_bar padd1010">
					<h1 class="fs12 fb ion-no-margin">Daily needs</h1>
					<ul>
						<li> 
							<img src="./assets/img/serch_sub_cat16.jpg" width="100%" class="br_radius50" />
							<p class="fs10 marg0 padd_t5">View All</p>
						</li>
						<li> 
							<img src="./assets/img/serch_sub_cat17.jpg" width="100%" class="br_radius50" />
							<p class="fs10 marg0 padd_t5">Vegetables</p>
						</li>
						<li> 
							<img src="./assets/img/serch_sub_cat18.jpg" width="100%" class="br_radius50" />
							<p class="fs10 marg0 padd_t5">Leafy Veggies</p>
						</li>
						<li> 
							<img src="./assets/img/serch_sub_cat19.jpg" width="100%" class="br_radius50" />
							<p class="fs10 marg0 padd_t5">Sprouts & Salad</p>
						</li>
						<li> 
							<img src="./assets/img/serch_sub_cat17.jpg" width="100%" class="br_radius50" />
							<p class="fs10 marg0 padd_t5">Vegetables</p>
						</li>
						<li> 
							<img src="./assets/img/serch_sub_cat18.jpg" width="100%" class="br_radius50" />
							<p class="fs10 marg0 padd_t5">Leafy Veggies</p>
						</li>
						<li> 
							<img src="./assets/img/serch_sub_cat19.jpg" width="100%" class="br_radius50" />
							<p class="fs10 marg0 padd_t5">Sprouts & Salad</p>
						</li>
					</ul>
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
