<ion-header class="br_btm_1">
  	<ion-toolbar class="fc1">
	    <ion-grid class=" bg1">
	    	<ion-row>
	    		<ion-col size="1" routerLink="/" class="ion-align-self-center fs14 fb">
                    <ion-icon name="chevron-back-outline"></ion-icon>
                </ion-col>
	    		<ion-col size="10">
	    			<h1 class="fs10 fb marg0">My account</h1>
	    		</ion-col>
	    	</ion-row>
	    </ion-grid>
  	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-grid class="bg1 ion-text-center">
		<ion-row class="marg_t10">
			<ion-col>
				<ion-icon name="person-outline" class="fc1 fs50 br_radius50 padd20 bg4"></ion-icon>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<p class="fs10 fc1">Ramakrishna</p>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col size="3"></ion-col>
			<ion-col size="4">
				<p class="br_3 bg1 padd3 fc1 fs8 br_radius15"> 0 SUBSCRIPTIONS</p>
			</ion-col>
			<ion-col size="3">
				<p class="br_3 bg1 padd3 fc1 fs8 br_radius15"> <i class="fa fa-inr" aria-hidden="true"></i>0 BALANCE</p>
			</ion-col>
		</ion-row>
	</ion-grid>
	<ion-grid>
		<ion-row class="br_btm_1">
            <ion-col size="2" class="ion-align-self-center ion-text-center fc3">
                <ion-icon name="person-outline" size="small" class="fs10"></ion-icon>
            </ion-col>
            <ion-col size="9">
                <p class="fs10 fb">Profile details</p>
                <p class="fs10 fc3">Ramakrishna, 9000730409</p>
                <p class="fs10 fc3">ramuramakrishna511@gmail.com</p>
            </ion-col>
            <ion-col size="1" class="ion-align-self-center">
                <ion-icon name="chevron-forward-outline" class="fc2"></ion-icon>
            </ion-col>
        </ion-row>
        <ion-row class="br_btm_1">
            <ion-col size="2" class="ion-align-self-center ion-text-center fc3">
                <ion-icon name="person-outline" size="small" class="fs10"></ion-icon>
            </ion-col>
            <ion-col size="9">
                <p class="fs10 fb">Address</p>
                <p class="fs10 fc3">Vishal Towers, Flat no: 111</p>
                <p class="fs10 fc3">Ramalayam Road</p>
                <p class="fs10 fc3">Kukatpally, Hyderabad, 500072</p>
            </ion-col>
            <ion-col size="1" class="ion-align-self-center">
                <ion-icon name="chevron-forward-outline" class="fc2"></ion-icon>
            </ion-col>
        </ion-row>
        <ion-row class="br_btm_1">
            <ion-col size="2" class="ion-align-self-center ion-text-center fc3">
                <ion-icon name="person-outline" size="small" class="fs10"></ion-icon>
            </ion-col>
            <ion-col size="9">
                <p class="fs10 fb">Change password</p>
            </ion-col>
            <ion-col size="1" class="ion-align-self-center">
                <ion-icon name="chevron-forward-outline" class="fc2"></ion-icon>
            </ion-col>
        </ion-row>
        <ion-row class="br_btm_1">
            <ion-col size="2" class="ion-align-self-center ion-text-center fc3">
                <ion-icon name="person-outline" size="small" class="fs10"></ion-icon>
            </ion-col>
            <ion-col size="9">
                <p class="fs10 fb">Privacy policy</p>
            </ion-col>
            <ion-col size="1" class="ion-align-self-center">
                <ion-icon name="chevron-forward-outline" class="fc2"></ion-icon>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="2" class="ion-align-self-center ion-text-center fc3">
                <ion-icon name="person-outline" size="small" class="fs10"></ion-icon>
            </ion-col>
            <ion-col size="9">
                <p class="fs10 fb">Logout</p>
            </ion-col>
        </ion-row>
	</ion-grid>
</ion-content>
