<ion-header class="br_btm_1">
  	<ion-toolbar>
	    <ion-grid>
	    	<ion-row>
	    		<ion-col size="1" routerLink="/" class="ion-align-self-center fs14 fb">
                    <ion-icon name="chevron-back-outline"></ion-icon>
                </ion-col>
	    		<ion-col size="8">
	    			<h1 class="fs10 fb marg0">True Healthy Access</h1>
	    		</ion-col>
	    		<ion-col size="3" class="ion-align-self-center ion-text-right">
	    			<p class="marg0 fs8 fc2">FAQs</p>
	    		</ion-col>
	    	</ion-row>
	    </ion-grid>
  	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-grid>
		<ion-row>
			<ion-col>
				<img src="./assets/img/logo.jpg" width="40%" />
				<h1>Introducing True Healthy Access</h1>
				<h1>A True Healthy membership program</h1>
				<h1>Free deliveries at just 99/- per month!</h1>
			</ion-col>
		</ion-row>
	</ion-grid>
	<ion-grid>
		<ion-row class="br_btm_1">
            <ion-col size="2" class="ion-align-self-center ion-text-center fc2">
                <ion-icon name="person-outline" size="small" class="fs10"></ion-icon>
            </ion-col>
            <ion-col size="10">
                <p class="fs10">Enjoy unlimited free deliveries</p>
            </ion-col>
        </ion-row>
	</ion-grid>
</ion-content>
