<ion-header class="br_btm_1">
  	<ion-toolbar>
	    <ion-grid>
	    	<ion-row>
	    		<ion-col size="1" routerLink="/" class="ion-align-self-center fs14 fb">
                    <ion-icon name="chevron-back-outline"></ion-icon>
                </ion-col>
	    		<ion-col size="8">
	    			<h1 class="fs10 fb marg0">True Healthy Access</h1>
	    		</ion-col>
	    		<ion-col size="3" class="ion-align-self-center ion-text-right">
	    			<p class="marg0 fs8 fc2">FAQs</p>
	    		</ion-col>
	    	</ion-row>
	    </ion-grid>
  	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-grid class="bg4">
		<ion-row>
			<ion-col class="ion-text-center">
				<img src="./assets/img/logo.jpg" width="40%" />
				<h1 class="fs14 fb fc2">Introducing True Healthy Access</h1>
				<h1 class="fs14 fb">A True Healthy membership program</h1>
				<h1 class="fs14">Free deliveries at just 99/- per month!</h1>
			</ion-col>
		</ion-row>
	</ion-grid>
	<ion-grid>
		<ion-row class="br_btm_1">
            <ion-col size="2" class="ion-align-self-center ion-text-center fc2">
                <ion-icon name="person-outline" size="small" class="fs10"></ion-icon>
            </ion-col>
            <ion-col size="10">
                <p class="fs10 fb">Enjoy unlimited free deliveries</p>
                <p class="fs10">Order as many products as many times as you want, all for zero service fees.</p>
            </ion-col>
        </ion-row>
        <ion-row class="br_btm_1">
            <ion-col size="2" class="ion-align-self-center ion-text-center fc2">
                <ion-icon name="person-outline" size="small" class="fs10"></ion-icon>
            </ion-col>
            <ion-col size="10">
                <p class="fs10 fb">Reserved stock just for you</p>
                <p class="fs10">Order as many products as many times as you want, all for zero service fees.</p>
            </ion-col>
        </ion-row>
        <ion-row class="br_btm_1">
            <ion-col size="2" class="ion-align-self-center ion-text-center fc2">
                <ion-icon name="person-outline" size="small" class="fs10"></ion-icon>
            </ion-col>
            <ion-col size="10">
                <p class="fs10 fb">Exclusive Offers</p>
                <p class="fs10">Order as many products as many times as you want, all for zero service fees.</p>
            </ion-col>
        </ion-row>
	</ion-grid>
	<ion-grid>
		<ion-row>
			<ion-col>
				<h1 class="ion-text-center fs12 fb">Choose Plan. Become a member</h1>
			</ion-col>
		</ion-row>
	</ion-grid>
	<ion-grid class="marg_b100">
		<ion-row>
			<ion-grid class="br_1 br_radius5">
				<ion-row>
		            <ion-col size="1" class="ion-align-self-center ion-text-center fc2">
		                <ion-icon name="person-outline" size="small" class="fs10"></ion-icon>
		            </ion-col>
		            <ion-col size="11">
		                <p class="fs10 fb">Manual renew</p>
		                <p class="fs10">Renew manually after membership ends.</p>
		            </ion-col>
		        </ion-row>
		        <ion-row>
		        	<ion-col size="1"></ion-col>
		        	<ion-col size="3">
		        		<div class="ion-text-center br_1 br_radius5">
		        			<h1 class="fs10 fc2">1 Month</h1>
		        			<p class="fs10 fb"><i class="fa fa-inr" aria-hidden="true"></i> 99</p>
		        			<p class="fs8 fc3"><del><i class="fa fa-inr" aria-hidden="true"></i> 150</del></p>
		        			<p class="fs8 fc2">SAVE 30%</p>
		        		</div>
		        	</ion-col>
		        	<ion-col size="3">
		        		<div class="ion-text-center br_1 br_radius5">
		        			<h1 class="fs10 fc2">3 Month</h1>
		        			<p class="fs10 fb"><i class="fa fa-inr" aria-hidden="true"></i> 99</p>
		        			<p class="fs8 fc3"><del><i class="fa fa-inr" aria-hidden="true"></i> 150</del></p>
		        			<p class="fs8 fc2">SAVE 30%</p>
		        		</div>
		        	</ion-col>
		        	<ion-col size="3">
		        		<div class="ion-text-center br_1 br_radius5">
		        			<h1 class="fs10 fc2">12 Month</h1>
		        			<p class="fs10 fb"><i class="fa fa-inr" aria-hidden="true"></i> 99</p>
		        			<p class="fs8 fc3"><del><i class="fa fa-inr" aria-hidden="true"></i> 150</del></p>
		        			<p class="fs8 fc2">SAVE 30%</p>
		        		</div>
		        	</ion-col>
		        </ion-row>
			</ion-grid>
		</ion-row>
	</ion-grid>
	<ion-grid class="single_proceed">
		<ion-row>
			<ion-col class="ion-text-center">
				<button class="bg1 fc1 padd10 br_radius5 fs10 w100">BUY PLAN</button>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
